<!DOCTYPE html>
<html lang="en">
<style>
header {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 10px;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

header a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}</style>
<header>
    {% if not request.session.userID %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
    {% else %}
    <a href="{% url 'useracc' %}">Your Account</a>
    <a href="{% url 'logout' %}">Log Out</a>
    {% endif %}

    <a href="#">View Cart</a>

    <a href="admin">Admin Panel</a>
    
</header>
